### Importing Libraries

In [ ]:
# pip install arrow

In [129]:
# Importing needed libraries
from datetime import datetime
import time
from datetime import timedelta
import arrow
import pandas as pd
import ast

### Creating Unix Time format for each hour

In [1]:
# Preparing Unix Time format
unix_daily_time=[]
start_time=1325365200
inc_time=86400
end_time=1546203600

In [460]:
# Creating a unix time for each hour starting 2012-01-01 01:00:00 to 2018-12-31 23:00:00
i=start_time
while i <  end_time:
    unix_daily_time.append(i)
    i = i +  inc_time


unix_daily_time.append(1546203600)  # appending last date 31-12-2018 time 12:00:00 AM  since it was not included in the loop

In [462]:
len(unix_daily_time)

2557

In [ ]:
### Calling

In [2]:
# making Rapidapi connection with Dark Sky api key
# site https://rapidapi.com/darkskyapis/api/dark-sky?endpoint=apiendpoint_988760f1-8430-4703-b392-b51126c5c9ae

import http.client

conn = http.client.HTTPSConnection("dark-sky.p.rapidapi.com")

headers = {
    'x-rapidapi-host': "dark-sky.p.rapidapi.com",
    'x-rapidapi-key': "89162304famshf5xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"  #api-key is hidden intentionally :)
    }

In [466]:
# creating two empty lists for temperatures decoded and non-decoded
temp_decode=[]
temp_nodecode=[]

In [467]:
# Calling the api and getting the hourly temperature data for Riyadh City (Central Operating Area)
# Riyadh Latitude	24.774265
# Riyadh Longitude	46.738586


for i in unix_daily_time:
    conn.request("GET", f"/24.774265,46.738586,{i}?units=si", headers=headers)
    res = conn.getresponse()
    data = res.read()
    temp_nodecode.append(data)
    temp_decode.append(data.decode("utf-8"))

In [472]:
len(temp_decode)

2557

In [231]:
len(temp_nodecode)

2557

In [276]:
# getting the columns
columns_=df.columns

In [474]:
# Creating column lists from the dataset
columns_=['time', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity',
       'pressure', 'windSpeed', 'windBearing', 'cloudCover', 'uvIndex',
       'visibility']

In [475]:
# Creating empty dataframe
df_weather=pd.DataFrame(columns=columns_)

In [476]:
df_weather

Empty DataFrame
Columns: [time, temperature, apparentTemperature, dewPoint, humidity, pressure, windSpeed, windBearing, cloudCover, uvIndex, visibility]
Index: []

In [477]:
# import ast
# getting the hourly data from temp_decode list and append them to df_weather dataframe
for i in temp_decode:
    df=pd.DataFrame(ast.literal_eval(i.strip('\n')).get('hourly')['data'])
    df_weather=df_weather.append(df, ignore_index = True,sort=False)

In [482]:
df_weather.shape

(61241, 18)

In [483]:
# Checking null values
# the most importing value is for temperature and it does not have any null value.
df_weather.isnull().sum()

time                       0
temperature                0
apparentTemperature        0
dewPoint                   0
humidity                   0
pressure               42095
windSpeed                 20
windBearing             7587
cloudCover             31654
uvIndex                14272
visibility               244
windGust               59762
summary                32941
icon                   32941
precipIntensity         5548
precipProbability       5548
precipType             61193
ozone                  60485
dtype: int64

In [484]:
df_weather.head(10)

,time,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windBearing,cloudCover,uvIndex,visibility,windGust,summary,icon,precipIntensity,precipProbability,precipType,ozone
0,1325365200,14.98,14.98,0.01,0.36,1017.9,4.12,161.0,0.13,0.0,9.988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1325368800,13.98,13.98,0.01,0.38,NaN,3.09,170.0,NaN,0.0,9.988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325372400,11.98,11.98,0.99,0.47,NaN,2.06,131.0,NaN,0.0,9.988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325376000,11.98,11.98,0.99,0.47,1017.0,2.06,131.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325379600,11.98,11.98,0.01,0.44,NaN,2.06,170.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1325383200,11.98,11.98,0.01,0.44,NaN,3.60,170.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1325386800,11.98,11.98,0.01,0.44,1017.6,2.06,161.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1325390400,10.97,10.97,0.01,0.47,NaN,2.06,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1325394000,12.98,12.98,0.99,0.44,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1325397600,15.98,15.98,-1.01,0.31,1018.9,1.55,180.0,0.00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Exporting the dataset for further preprocessing

In [310]:
# Exporting the weather dataset for further preprocessing
df_weather.to_csv('df_weather2012-2018.csv',index=False)

### Other ways to convert json data to a standard dataframe using json_normalize
#### Below code is just for our reference

In [1]:
# Another way of coverting json dataset is to normalize it
# import json
# from pandas.io.json import json_normalize


# # parse x:
# d=json.loads(temp_decode[0])
# d

In [2]:
# Converting json dataset to a normal dataframe structure
# bb=json_normalize(d['hourly']['data'])
# bb